/* custom variable declared here */
/* colors  */
:root {
  --white: #ffff;
  --title-color: #3a3a3a;
  --subtitle-color: rgba(0, 0, 0, 0.87);
  --paragraph-color: #787885;
  --rating-fill: #fb8200;
  --btn-highlight: #e02c6d;
  --secondary-btn-highlight: rgba(224, 44, 109, 0.87);
  --footer-bg: #0a0826;
  --footer-paragraph-color: #d9dbe1;
  /* font style  */
  --poppins: "Poppins", sans-serif;
}

/* common styles  */
* {
  margin: 0 auto;
}
body {
  font-family: var(--poppins);
}
header {
  margin: 0 10%;
}
main {
  margin: 0 10%;
}
.primary-btn {
  border: 0;
  width: 196px;
  height: 44px;
  border-radius: 41px;
  background-color: var(--btn-highlight);
  font-weight: 700;
  font-size: 16px;
  color: var(--white);
  margin: 8px 0;
}

.arrow-btn {
  font-weight: 700;
  font-size: 16px;
  color: var(--btn-highlight);
}
/* nav-bar styles starts here  */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
}
.logo {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  color: var(--title-color);
}
.menu {
  margin: 0;
}
.menu-items {
  display: flex;
  gap: 34px;
}
.menu ul li {
  list-style: none;
}
.menu ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: var(--title-color);
}

/* main section styles starts here  */

.container {
  margin: 10vh 0;
}
.banner {
  background-image: url(images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  gap: 133px;
  padding: 4vh 0;
  justify-content: space-between;
  align-items: center;
}
.banner-details {
  margin: 0;
  width: 45%;
}
.banner-title {
  font-weight: 700;
  font-size: 52px;
  margin-bottom: 8px;
  color: var(--title-color);
}
.banner-description {
  font-weight: 600;
  font-size: 16px;
  margin: 8px 0;
  color: var(--title-color);
}

.banner img {
  margin: 0 33px 0 0;
  width: 440px;
  height: 414px;
}
.payment {
  margin: 5vh 5%;
  border-top: 1px solid var(--paragraph-color);
  border-bottom: 1px solid var(--paragraph-color);
}
.payment-methods {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 2%;
}
.section-title {
  margin-top: 10vh;
  font-weight: 600;
  font-size: 28px;
  color: var(--title-color);
  text-align: center;
}
.collection {
  margin: 0;
  padding: 2%;
}
.items {
  display: grid;
  grid-row-gap: 5vh;
  grid-template-columns: repeat(3, 1fr);
}
.item {
  width: 80%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5%;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.item-details {
  width: 100%;
}
.item img {
  width: 100%;
  height: 256px;
}
.item-name {
  font-weight: 500;
  font-size: 28px;
  color: var(--subtitle-color);
  margin-top: 16px;
}
.item-price {
  font-weight: 400;
  font-size: 24px;
  margin-top: 6px;
}
p .fa-solid {
  color: var(--rating-fill);
}
.item-description {
  font-weight: 700;
  font-size: 14px;
  color: var(--paragraph-color);
}
#see-more-arrow {
  text-align: right;
  margin-right: 5%;
}
#see-more-arrow a {
  color: var(--btn-highlight);
}
.feature {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}
.feature img {
  width: 500px;
  height: 300px;
  margin: 0;
}

.feature-details {
  width: 800px;
  margin: 0;
}
.feature-title {
  font-weight: 700;
  font-size: 38px;
  color: var(--footer-bg);
  margin-bottom: 16px;
}
.feature-description {
  font-weight: 700;
  font-size: 16px;
  color: #6c6c6c;
  margin-bottom: 16px;
}
#join-now-btn {
  border-radius: 0;
}
/* footer section styles starts here  */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
  background-color: var(--footer-bg);
}
.footer-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-title {
  font-weight: 700;
  font-size: 24px;
  color: var(--white);
  text-align: center;
  margin-bottom: 18px;
}
.footer-description {
  font-weight: 700;
  font-size: 14px;
  color: #d9dbe1;
  text-align: center;
  margin-bottom: 16px;
}
.footer a {
  text-decoration: none;
  margin-right: 30px;
}

.hide {
  display: none;
}

/* media query for small device  */

@media screen and (max-width: 992px) {
  main {
    margin: 0;
  }
  header {
    margin: 0;
  }
  .header {
    display: none;
  }
  .small-device {
    margin: 0 auto;
    padding: 5px;
    background-color: var(--footer-bg);
  }
  .logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .logo h3 {
    color: #e02c6d;
    font-size: 20px;
  }
  .nav-bar-small {
    background-color: var(--footer-paragraph-color);
  }
  .nav-bar-small ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .nav-bar-small ul li {
    list-style: none;
    color: var(--rating-fill);
  }
  .banner {
    background-image: url(images/Circle\ design.svg);
    background-size: 70%;
    background-position: top;
    flex-direction: column-reverse;
    gap: 33px;
  }
  .banner-details {
    margin: 0;
    width: 90%;
    text-align: center;
  }
  .banner-title {
    font-size: 25px;
  }
  .banner-description {
    font-size: 14px;
  }

  .banner img {
    margin: 0 33px 0 0;
    width: 60%;
    height: auto;
  }
  .footer-title {
    font-size: 16px;
  }
  .footer-description {
    font-size: 10px;
  }
  .footer a {
    margin-right: 20px;
  }
  .payment {
    margin: 5vh 5%;
    border: 0;
  }
  .payment-methods {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2vh 10%;
  }
  .payment a img {
    width: 50px;
    height: auto;
  }
  .items {
    grid-row-gap: 3vh;
    grid-template-columns: repeat(1, 1fr);
  }
  .feature {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
  .feature img {
    width: 90%;
    height: auto;
  }
  
  .feature-details {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .feature-title {
    font-size: 30px;
    text-align: center;
  }
  .feature-description {
    font-size: 14px;
    text-align: center;
  }
  
}

@media screen and (min-width: 993px) {
  .small-device-nav {
    display: none;
  }
}
